.DS_Store
/.gradle
/build
/src/main/polymer/build
/src/main/polymer/node_modules
/gradlew.bat
/gradlew
/gradle
/src/main/polymer/base/build
/src/main/polymer/base/node_modules
/src/main/polymer/admin/build
